# 作業 : (Kaggle)鐵達尼生存預測

# [作業目標]
- 試著模仿範例寫法, 在鐵達尼生存預測中, 觀察計數編碼與特徵雜湊的效果

# [作業重點]
- 仿造範例, 完成自己挑選特徵的群聚編碼 (In[2], Out[2])
- 觀察群聚編碼, 搭配邏輯斯回歸, 看看有什麼影響 (In[5], Out[5], In[6], Out[6])

# 作業1
* 試著使用鐵達尼號的例子，創立兩種以上的群聚編碼特徵( mean、median、mode、max、min、count 均可 )

In [2]:
# 做完特徵工程前的所有準備 (與前範例相同)
import pandas as pd
import numpy as np
import copy
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
import warnings
warnings.filterwarnings('ignore')

In [26]:
data_path = '../Data/'
df = pd.read_csv(data_path + 'titanic_train.csv')

train_Y = df['Survived']
df = df.drop(['PassengerId', 'Survived'] , axis=1)
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [27]:
# 取一個類別型欄位, 與一個數值型欄位, 做群聚編碼
"""
Your Code Here
"""
mean_df = df.groupby(['Pclass'])['Fare'].mean().reset_index()
mode_df = df.groupby(['Pclass'])['Fare'].apply(lambda x: x.mode()[0]).reset_index()
median_df = df.groupby(['Pclass'])['Fare'].median().reset_index()
max_df = df.groupby(['Pclass'])['Fare'].max().reset_index()
temp = pd.merge(mean_df, mode_df, how='left', on=['Pclass'])
temp = pd.merge(temp, median_df, how='left', on=['Pclass'])
temp = pd.merge(temp, max_df, how='left', on=['Pclass'])
temp.columns = ['Pclass', 'Fare_Mean', 'Fare_Mode', 'Fare_Median', 'Fare_Max']

In [28]:
#只取 int64, float64 兩種數值型欄位, 存於 num_features 中
num_features = []
df = pd.merge(df, temp, how='left', on=['Pclass'])
for dtype, feature in zip(df.dtypes, df.columns):
    #print('dtype:{} feature : {}\n'.format(dtype,feature))
    if dtype == 'float64' or dtype == 'int64':
        num_features.append(feature)
print('{} Numeric Features : {}\n'.format(len(num_features),num_features))

# 削減文字型欄位, 只剩數值型欄位
df = df[num_features]
df = df.fillna(-1)
MMEncoder = MinMaxScaler()
df.head()

9 Numeric Features : ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Fare_Mean', 'Fare_Mode', 'Fare_Median', 'Fare_Max']

,Pclass,Age,SibSp,Parch,Fare,Fare_Mean,Fare_Mode,Fare_Median,Fare_Max
0,3,22.0,1,0,7.2500,13.675550,8.05,8.0500,69.5500
1,1,38.0,1,0,71.2833,84.154687,26.55,60.2875,512.3292
2,3,26.0,0,0,7.9250,13.675550,8.05,8.0500,69.5500
3,1,35.0,1,0,53.1000,84.154687,26.55,60.2875,512.3292
4,3,35.0,0,0,8.0500,13.675550,8.05,8.0500,69.5500

In [25]:
df.head(20)

,Pclass,Age,SibSp,Parch,Fare,Fare_Mean,Fare_Mode,Fare_Median,Fare_Max
0,3,22.0,1,0,7.2500,-1.00000,-1.0000,-1.00000,-1.0000
1,1,38.0,1,0,71.2833,71.28330,71.2833,71.28330,71.2833
2,3,26.0,0,0,7.9250,-1.00000,-1.0000,-1.00000,-1.0000
3,1,35.0,1,0,53.1000,53.10000,53.1000,53.10000,53.1000
4,3,35.0,0,0,8.0500,-1.00000,-1.0000,-1.00000,-1.0000
5,3,-1.0,0,0,8.4583,-1.00000,-1.0000,-1.00000,-1.0000
6,1,54.0,0,0,51.8625,51.86250,51.8625,51.86250,51.8625
7,3,2.0,3,1,21.0750,-1.00000,-1.0000,-1.00000,-1.0000
8,3,27.0,0,2,11.1333,-1.00000,-1.0000,-1.00000,-1.0000
9,2,14.0,1,0,30.0708,-1.00000,-1.0000,-1.00000,-1.0000
10,3,4.0,1,1,16.7000,13.58125,10.4625,13.58125,16.7000
11,1,58.0,0,0,26.5500,26.55000,26.5500,26.55000,26.5500
12,3,20.0,0,0,8.0500,-1.00000,-1.0000,-1.00000,-1.0000
13,3,39.0,1,5,31.2750,-1.00000,-1.0000,-1.00000,-1.0000
14,3,14.0,0,0,7.8542,-1.00000,-1.0000,-1.00000,-1.0000
15,2,55.0,0,0,16.0000,-1.00000,-1.0000,-1.00000,-1.0000
16,3,2.0,4,1,29.1250,-1.00000,-1.0000,-1.00000,-1.0000
17,2,-1.0,0,0,13.0000,-1.00000,-1.0000,-1.00000,-1.0000
18,3,31.0,1,0,18.0000,-1.00000,-1.0000,-1.00000,-1.0000
19,3,-1.0,0,0,7.2250,-1.00000,-1.0000,-1.00000,-1.0000

# 作業2
* 將上述的新特徵，合併原有的欄位做生存率預估，結果是否有改善?

In [29]:
# 原始特徵 + 邏輯斯迴歸
"""
Your Code Here
"""
# 沒有這四個新特徵的 dataframe 稱為 df_minus
df_minus = df.drop([ 'Fare_Mean', 'Fare_Mode', 'Fare_Median', 'Fare_Max'] , axis=1)

# 原始特徵 + 線性迴歸
train_X = MMEncoder.fit_transform(df_minus)
estimator = LogisticRegression()
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

0.7038635542329971

In [31]:
# 新特徵 + 邏輯斯迴歸
"""
Your Code Here
"""
# 新特徵 + 線性迴歸 : 有些微改善
#df = pd.merge(df, temp, how='left', on=['Ticket'])
train_X = MMEncoder.fit_transform(df)
estimator = LogisticRegression()
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

0.7049872206659581

In [30]:
df

,Pclass,Age,SibSp,Parch,Fare,Fare_Mean,Fare_Mode,Fare_Median,Fare_Max
0,3,22.0,1,0,7.2500,13.675550,8.05,8.0500,69.5500
1,1,38.0,1,0,71.2833,84.154687,26.55,60.2875,512.3292
2,3,26.0,0,0,7.9250,13.675550,8.05,8.0500,69.5500
3,1,35.0,1,0,53.1000,84.154687,26.55,60.2875,512.3292
4,3,35.0,0,0,8.0500,13.675550,8.05,8.0500,69.5500
5,3,-1.0,0,0,8.4583,13.675550,8.05,8.0500,69.5500
6,1,54.0,0,0,51.8625,84.154687,26.55,60.2875,512.3292
7,3,2.0,3,1,21.0750,13.675550,8.05,8.0500,69.5500
8,3,27.0,0,2,11.1333,13.675550,8.05,8.0500,69.5500
9,2,14.0,1,0,30.0708,20.662183,13.00,14.2500,73.5000
10,3,4.0,1,1,16.7000,13.675550,8.05,8.0500,69.5500
11,1,58.0,0,0,26.5500,84.154687,26.55,60.2875,512.3292
12,3,20.0,0,0,8.0500,13.675550,8.05,8.0500,69.5500
13,3,39.0,1,5,31.2750,13.675550,8.05,8.0500,69.5500
14,3,14.0,0,0,7.8542,13.675550,8.05,8.0500,69.5500
15,2,55.0,0,0,16.0000,20.662183,13.00,14.2500,73.5000
16,3,2.0,4,1,29.1250,13.675550,8.05,8.0500,69.5500
17,2,-1.0,0,0,13.0000,20.662183,13.00,14.2500,73.5000
18,3,31.0,1,0,18.0000,13.675550,8.05,8.0500,69.5500
19,3,-1.0,0,0,7.2250,13.675550,8.05,8.0500,69.5500
20,2,35.0,0,0,26.0000,20.662183,13.00,14.2500,73.5000
21,2,34.0,0,0,13.0000,20.662183,13.00,14.2500,73.5000
22,3,15.0,0,0,8.0292,13.675550,8.05,8.0500,69.5500
23,1,28.0,0,0,35.5000,84.154687,26.55,60.2875,512.3292
24,3,8.0,3,1,21.0750,13.675550,8.05,8.0500,69.5500
25,3,38.0,1,5,31.3875,13.675550,8.05,8.0500,69.5500
26,3,-1.0,0,0,7.2250,13.675550,8.05,8.0500,69.5500
27,1,19.0,3,2,263.0000,84.154687,26.55,60.2875,512.3292
28,3,-1.0,0,0,7.8792,13.675550,8.05,8.0500,69.5500
29,3,-1.0,0,0,7.8958,13.675550,8.05,8.0500,69.5500
...,...,...,...,...,...,...,...,...,...
861,2,21.0,1,0,11.5000,20.662183,13.00,14.2500,73.5000
862,1,48.0,0,0,25.9292,84.154687,26.55,60.2875,512.3292
863,3,-1.0,8,2,69.5500,13.675550,8.05,8.0500,69.5500
864,2,24.0,0,0,13.0000,20.662183,13.00,14.2500,73.5000
865,2,42.0,0,0,13.0000,20.662183,13.00,14.2500,73.5000
866,2,27.0,1,0,13.8583,20.662183,13.00,14.2500,73.5000
867,1,31.0,0,0,50.4958,84.154687,26.55,60.2875,512.3292
868,3,-1.0,0,0,9.5000,13.675550,8.05,8.0500,69.5500
869,3,4.0,1,1,11.1333,13.675550,8.05,8.0500,69.5500
870,3,26.0,0,0,7.8958,13.675550,8.05,8.0500,69.5500
871,1,47.0,1,1,52.5542,84.154687,26.55,60.2875,512.3292
872,1,33.0,0,0,5.0000,84.154687,26.55,60.2875,512.3292
873,3,47.0,0,0,9.0000,13.675550,8.05,8.0500,69.5500
874,2,28.0,1,0,24.0000,20.662183,13.00,14.2500,73.5000
875,3,15.0,0,0,7.2250,13.675550,8.05,8.0500,69.5500
876,3,20.0,0,0,9.8458,13.675550,8.05,8.0500,69.5500
877,3,19.0,0,0,7.8958,13.675550,8.05,8.0500,69.5500
878,3,-1.0,0,0,7.8958,13.675550,8.05,8.0500,69.5500
879,1,56.0,0,1,83.1583,84.154687,26.55,60.2875,512.3292
880,2,25.0,0,1,26.0000,20.662183,13.00,14.2500,73.5000
881,3,33.0,0,0,7.8958,13.675550,8.05,8.0500,69.5500
882,3,22.0,0,0,10.5167,13.675550,8.05,8.0500,69.5500
883,2,28.0,0,0,10.5000,20.662183,13.00,14.2500,73.5000
884,3,25.0,0,0,7.0500,13.675550,8.05,8.0500,69.5500
885,3,39.0,0,5,29.1250,13.675550,8.05,8.0500,69.5500
886,2,27.0,0,0,13.0000,20.662183,13.00,14.2500,73.5000
887,1,19.0,0,0,30.0000,84.154687,26.55,60.2875,512.3292
888,3,-1.0,1,2,23.4500,13.675550,8.05,8.0500,69.5500
889,1,26.0,0,0,30.0000,84.154687,26.55,60.2875,512.3292
890,3,32.0,0,0,7.7500,13.675550,8.05,8.0500,69.5500